body {
            
    background-color:#eff1f5 ;
}
#sobre {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#localidade {
    font-style: italic;
}

.font-24 {
    font-size: 24px;
}
.font-22 {
    font-size: 22px;
}
.font-20 {
    font-size: 20px;
}

h1 {
    font-family: sans-serif;
}